@charset "UTF-8";
:root {
  --peach: #E17C69;
  --red1: #AE312D;
  --red2: #B7524D;
  --orange: #E19754;
  --brown-dark: #644C3E;
  --brown-regular: #92705C;
  --beige: #DDCBBC;
  --beige2: #f3f0ec;
}

* {
  font-family: "Platypi", serif;
  font-weight: 400;
  color: var(--brown-dark);
}

body {
  display: flex;
  justify-content: center;
  margin: 0px;
}
body .main-container {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

section {
  padding: 0 15%;
}

h1 {
  font-size: 50px;
  margin: 65px 0;
}

h2 {
  font-size: calc(2vw + 10px);
  font-weight: normal;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 14px;
  font-weight: normal;
}

p {
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
}

.btn-submit {
  border-radius: 2px;
  background-color: var(--medium-grey);
  color: black;
  height: 50px;
  font-size: 12px;
  font-family: "space_mono", sans-serif;
  font-weight: normal;
  transition: background-color 0.6s, color 0.6s, font-weight 0.6s ease-in-out;
}
.btn-submit:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  font-weight: bold;
}

.content {
  margin-top: 80px;
}

img {
  border: none !important;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.bouton {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 6px 10px 8px 10px;
  border-bottom: 2px solid var(--red2);
  cursor: pointer;
}
.bouton span, .bouton i {
  z-index: 2;
  color: white;
  font-size: 19px;
}
.bouton i {
  color: var(--red2);
  transition: 0.2s 0.1s ease-in-out;
}
.bouton:before {
  content: "";
  background-color: var(--red2);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: 0.3s ease-in-out;
  z-index: 1;
}
.bouton:hover i {
  color: white;
  transition: 0.2s ease-in-out;
}
.bouton:hover:before {
  width: 100%;
}

@keyframes bounce {
  0%, 100%, 50%, 80% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-8px);
  }
  60% {
    transform: translateX(-3px);
  }
}
i:hover, .arrow:hover {
  animation: bounce 0.5s ease-in-out;
}

header {
  display: flex;
  justify-content: space-between; /* Pour séparer le logo et le menu */
  align-items: center;
  margin: 0 auto;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 900;
  background: white;
  width: 100%;
  height: 80px;
}
header .logo-header {
  height: 80px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 47%;
  width: 6%;
}
header .logo-header img {
  height: 55px;
  width: auto;
}
header .menuToggle {
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header .menuToggle a {
  text-decoration: none;
  transition: all 0.3s ease;
}
header .menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
header .menuToggle span {
  position: relative;
  display: block;
  width: 33px;
  height: 3px;
  margin-bottom: 6px;
  position: relative;
  background: var(--red2);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
header .menuToggle span:first-child {
  transform-origin: 0% 0%;
}
header .menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
header .menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}
header .menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
header .menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
header .menuToggle input:checked ~ .menuItem {
  transform: none;
}

.menuItem {
  position: absolute;
  width: 300px;
  padding: 80px 50px 50px 50px;
  background: var(--red2);
  list-style-type: none;
  transform-origin: 0% 0%;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  left: -300px; /* Déplacer le menu hors de la vue par défaut */
  top: 0;
  height: 100vh; /* Occupera toute la hauteur de l'écran */
  margin: 0;
}
.menuItem li {
  padding: 10px 0;
  font-size: 22px;
  color: white;
}

.menu--left {
  position: absolute;
  top: 0;
}
.menu--left .menuToggle input {
  left: 50px;
  top: 28px;
}
.menu--left .menuToggle span {
  left: 50px;
  top: 28px;
}
.menu--left .menuItem {
  left: 0;
  transform: translateX(-100%); /* Cacher le menu en dehors de l'écran */
  overflow-y: auto; /* Ajouter une barre de défilement si le menu est trop grand */
}
.menu--left .menuToggle input:checked ~ .menuItem {
  transform: none; /* Afficher le menu lorsque le toggle est activé */
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  color: var(--brown-regular);
}
footer .first-footer {
  background-color: var(--beige2);
  background-image: url("http://localhost/claire/wp-content/uploads/2024/05/fond.jpg");
  background-size: contain;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4vh;
}
footer .first-footer > div {
  width: 30vw;
}
footer .first-footer .footer-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: left;
  margin-left: 60px;
  padding: 0;
}
footer .first-footer .footer-menu li {
  list-style-type: none;
}
footer .first-footer .logo-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .first-footer .logo-footer p {
  margin: 0;
}
footer .first-footer .footer-contact {
  display: flex;
  flex-direction: column;
  align-items: right;
  margin-right: 60px;
}
footer .first-footer .footer-contact h3 {
  text-align: right;
}
footer .first-footer .footer-contact > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 80px;
  gap: 20px;
}
footer .first-footer .footer-contact > div img {
  width: 50px;
}
footer .second-footer {
  background-color: var(--red2);
  width: 100%;
  display: flex;
  justify-content: center;
}
footer .second-footer p {
  color: white;
}
footer .second-footer p a {
  font-family: "Work Sans", sans-serif;
}

.project {
  background-image: url("http://localhost/claire/wp-content/uploads/2024/05/fond2.jpg");
  background-size: auto;
  padding-bottom: 50px;
}

.project-presentation {
  display: flex;
  padding-top: 80px;
  padding-bottom: 100px;
}
.project-presentation h1 {
  text-transform: uppercase;
}
.project-presentation h4 {
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  color: var(--brown-regular);
}
.project-presentation > div {
  width: 50%;
}
.project-presentation .logo_project {
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-presentation .logo_project img {
  max-width: 300px;
  max-height: 150px;
  width: auto;
  height: auto;
}

.project-missions {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 40px;
}
.project-missions > div {
  width: 50%;
}
.project-missions .project-missions-text {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project-missions .project-missions-text li {
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  margin-bottom: 20px;
}
.project-missions .project-missions-text .bouton {
  border-bottom: 2px solid var(--brown-dark);
}
.project-missions .project-missions-text .bouton span {
  color: var(--brown-dark);
  transition: 0.3s ease-in-out;
}
.project-missions .project-missions-text .bouton i {
  color: var(--brown-dark);
}
.project-missions .project-missions-text .bouton:before {
  background-color: var(--brown-dark);
}
.project-missions .project-missions-text .bouton:hover i, .project-missions .project-missions-text .bouton:hover span {
  color: white;
  transition: 0.2s ease-in-out;
}

img {
  width: 100%;
}

.contact-projet {
  background-color: var(--red1);
  padding: 100px;
  text-align: center;
}
.contact-projet h3, .contact-projet a {
  margin-top: 0;
  color: white;
}
.contact-projet h3 {
  text-align: center;
  padding: 0;
  font-size: 40px;
}
.contact-projet .bouton {
  border-bottom: 2px solid white;
}
.contact-projet .bouton span {
  color: white;
  transition: 0.3s ease-in-out;
}
.contact-projet .bouton i {
  color: white;
}
.contact-projet .bouton:before {
  background-color: white;
}
.contact-projet .bouton:hover i, .contact-projet .bouton:hover span {
  color: var(--red1);
  transition: 0.2s ease-in-out;
}

.projet-autres {
  margin: 50px 0 100px 0;
}
.projet-autres h3 {
  text-align: center;
  font-size: 40px;
  color: var(--red2);
}

.catalogue-projet {
  display: flex;
  justify-content: space-between;
}
.catalogue-projet .projet-image {
  height: 25vw;
  width: 48%;
  position: relative;
  margin-bottom: 4%;
}
.catalogue-projet img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.photo-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--peach);
  display: flex;
  padding: 15px;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}
.photo-hover .hover-link {
  position: relative;
  display: flex;
  justify-content: center;
}
.photo-hover .hover-link .link {
  width: 1.5vw;
  height: auto;
  min-width: 10px;
}
.photo-hover .hover-text {
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.photo-hover .hover-text h4, .photo-hover .hover-text p {
  text-transform: uppercase;
}
.photo-hover .hover-text h4 {
  font-size: 20px;
  color: white;
}
.photo-hover .hover-text p {
  color: white;
  text-align: center;
}
.photo-hover .hover-text .hover-category {
  font-family: "space_mono", sans-serif;
}
.photo-hover i {
  color: white;
  font-size: 20px;
}

.photo-hover:hover {
  opacity: 1;
}

.titre-principal {
  font-size: 30px;
  color: var(--peach);
  margin: 110px 0 20px 0;
  text-align: center;
}

.filtre-expertise {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 5%;
  align-items: center;
}
.filtre-expertise p {
  color: var(--brown-dark);
  background-color: #EFE1D5;
  padding: 3px 15px;
  transition: background-color 0.3s ease-in-out;
  text-align: center;
}
.filtre-expertise p:hover {
  cursor: pointer;
  background-color: var(--beige);
  transition: background-color 0.3s ease-in-out;
}
.filtre-expertise .selected p {
  background-color: var(--red1);
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4%;
}
.portfolio .projet {
  margin-bottom: 4%;
}

.portfolio-taxonomie h1 {
  margin-bottom: 7%;
  line-height: 2;
}
.portfolio-taxonomie h1 strong {
  color: white;
  background-color: var(--red2);
  padding: 5px 15px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
}
.portfolio-taxonomie .contact {
  padding: 50px 20%;
  margin-top: 50px;
}

.banniere-accueil-image {
  width: 100%;
  height: 50vh;
}
.banniere-accueil-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banniere-accueil-textes {
  position: absolute;
  top: 10%;
  right: 15%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.banniere-accueil-textes h3 {
  font-size: 50px;
  margin-top: 150px;
  margin-bottom: 0;
  background-color: white;
  color: var(--red2);
  padding: 10px 30px;
  margin-bottom: 10px;
}
.banniere-accueil-textes h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  margin-top: 0;
  background-color: white;
  color: var(--brown_regular);
  padding: 10px 30px 10px 30px;
}

.presentation-accueil {
  background-color: var(--peach);
  display: flex;
  padding: 8% 15%;
  justify-content: space-between;
  align-items: center;
}
.presentation-accueil-image {
  width: 15vw;
  height: 20vw;
}
.presentation-accueil-image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  border-radius: 0 80% 80% 0;
}
.presentation-accueil-texte {
  color: white;
  width: 70%;
  padding-left: 5%;
  padding-bottom: 5%;
}
.presentation-accueil-texte h2, .presentation-accueil-texte p, .presentation-accueil-texte a {
  color: white;
}
.presentation-accueil-texte p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.accueil-portfolio {
  background-image: url("http://localhost/claire/wp-content/uploads/2024/05/fond2.jpg");
  background-size: contain;
}
.accueil-portfolio h2 {
  padding-top: 80px;
  margin-top: 0;
  text-align: center;
  color: var(--red2);
}
.accueil-portfolio-projets {
  display: flex;
  margin: 15px 15%;
  justify-content: center;
}
.accueil-portfolio-projets > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-top: 100px;
  z-index: 800;
}
.accueil-portfolio-projets > div h4 {
  font-size: 15px;
  margin-bottom: 0;
}
.accueil-portfolio-projets > div p {
  font-size: 11px;
  margin-top: 5px;
  color: var(--peach);
}
.accueil-portfolio-projets > div:last-child, .accueil-portfolio-projets > div:first-child {
  margin-top: 40px;
  z-index: 1;
}
.accueil-portfolio-projets > div:hover {
  z-index: 850;
}
.accueil-portfolio-projets-image {
  height: 20vw;
  width: 100%;
  transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
}
.accueil-portfolio-projets-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.accueil-portfolio-projets-image:hover {
  height: 25vw;
  width: 110%;
  transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
}
.accueil-portfolio-lien {
  display: flex;
  justify-content: flex-end;
  margin: 0 15% 0% 5%;
  padding-bottom: 5%;
}
.accueil-portfolio-lien .bouton {
  border-bottom: 2px solid var(--red1);
}
.accueil-portfolio-lien .bouton span {
  color: var(--orange);
  transition: 0.3s ease-in-out;
}
.accueil-portfolio-lien .bouton i {
  color: var(--red1);
}
.accueil-portfolio-lien .bouton:hover i, .accueil-portfolio-lien .bouton:hover span {
  color: white;
  transition: 0.2s ease-in-out;
}

.banniere-recommandations {
  background-color: var(--peach);
  height: 80px;
  margin-bottom: 15px;
}
.banniere-recommandations p {
  font-family: "Platypi", serif;
  color: white;
  text-align: center;
  font-size: 80px;
  margin: 0;
}

.recommandations {
  margin-bottom: 100px;
}
.recommandations h2 {
  text-align: center;
  color: var(--red2);
  margin-top: 100px;
}
.recommandations .auteur-citation {
  color: var(--red2);
  font-style: italic;
  font-size: 12px;
}

.swiper {
  width: 100%;
  padding-top: 0;
  padding-bottom: 50px;
  overflow: initial !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  background-color: white;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.swiper-pagination-bullet-active {
  background: var(--red2);
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.bloc-expertise {
  background-color: var(--beige2);
  padding: 50px 15% 60px 15%;
}
.bloc-expertise h2 {
  text-align: center;
  padding-bottom: 50px;
}
.bloc-expertise .liste-expertise {
  display: flex;
}
.bloc-expertise .liste-expertise .service-unique {
  display: flex;
  padding: 20px 30px;
  width: 25%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.bloc-expertise .liste-expertise .service-unique h4 {
  font-size: 20px;
}
.bloc-expertise .liste-expertise .service-unique p {
  display: none;
}
.bloc-expertise .liste-expertise .service-unique img {
  width: 50px;
  transition: width 0.2s ease-in-out;
}
.bloc-expertise .liste-expertise .service-unique:hover p {
  display: block;
}
.bloc-expertise .liste-expertise .service-unique:hover h4 {
  font-size: 25px;
  transition: font-size 0.2s ease-in-out;
}
.bloc-expertise .liste-expertise .service-unique:hover img {
  width: 60px;
  transition: width 0.2s ease-in-out;
}
.bloc-expertise-plus {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
.bloc-expertise-plus .bouton {
  border-bottom: 2px solid var(--red2);
}
.bloc-expertise-plus .bouton span {
  color: var(--brown-dark);
  transition: 0.3s ease-in-out;
}
.bloc-expertise-plus .bouton i {
  color: var(--red2);
}
.bloc-expertise-plus .bouton:hover i, .bloc-expertise-plus .bouton:hover span {
  color: white;
  transition: 0.2s ease-in-out;
}

.contact-formulaire h2 {
  color: var(--orange) !important;
  margin-bottom: 30px;
}
.contact-formulaire input, .contact-formulaire textarea {
  border: none; /* Enlève toutes les bordures */
  outline: none; /* Enlève le contour lors du focus */
  padding: 10px;
  border-radius: 5px;
  width: 35vw;
}
.contact-formulaire .texte-formulaire {
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  color: var(--brown-regular);
  background-color: var(--beige2);
  text-align: center;
}
.contact-formulaire .envoi-formulaire {
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: var(--orange);
  background: none;
  font-weight: 700;
  cursor: pointer;
}
.contact-formulaire p {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact-plus h2 {
  color: var(--red1) !important;
  margin-bottom: 30px;
}
.contact-plus p {
  font-size: 14px;
  font-family: "Work Sans", sans-serif !important;
  color: var(--brown-dark) !important;
  margin-bottom: 30px;
}

.bloc-inspirations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.bloc-inspirations > div:first-child {
  background-color: var(--peach);
  display: flex;
  justify-content: center;
  align-items: center;
}
.bloc-inspirations > div:first-child h2 {
  color: white;
}
.bloc-inspirations > div {
  width: 100%;
  height: 30vw;
}
.bloc-inspirations .inspirations {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bloc-inspirations .inspirations h3 {
  display: none;
  color: var(--brown-dark);
  z-index: 3;
}
.bloc-inspirations .inspirations-description {
  z-index: 800;
}
.bloc-inspirations .inspirations-description p {
  display: none;
  color: var(--brown-dark);
  padding: 0 10%;
  text-align: center;
}
.bloc-inspirations .inspirations img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  opacity: 100%;
  position: absolute;
  z-index: 0;
  transition: opacity 0.2s ease-in-out;
}
.bloc-inspirations .inspirations:hover img {
  opacity: 20%;
  transition: opacity 0.2s ease-in-out;
}
.bloc-inspirations .inspirations:hover h3, .bloc-inspirations .inspirations:hover p {
  display: block;
}

.contact {
  padding: 100px;
  text-align: center;
  margin-top: 50px;
}
.contact a {
  margin-top: 0;
}
.contact h3 {
  text-align: center;
  padding: 0;
  font-size: 40px;
  color: var(--red2);
  margin-top: 0;
}
.contact .bouton span {
  color: var(--brown-regular);
  transition: 0.2s ease-in-out;
}
.contact .bouton:hover i, .contact .bouton:hover span {
  color: white;
  transition: 0.2s ease-in-out;
}

.contact-expertise {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.contact-expertise h3 {
  font-size: 30px;
}
.contact-expertise-plus {
  padding: 100px;
  text-align: center;
  margin-top: 50px;
}
.contact-expertise-plus > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-expertise-plus a {
  margin-top: 0;
  color: var(--brown-dark);
  margin-top: 10px;
}
.contact-expertise-plus h3 {
  text-align: center;
  padding: 0;
  color: var(--orange);
  margin-top: 0;
}
.contact-expertise-plus .bouton {
  border-bottom: 2px solid var(--orange);
}
.contact-expertise-plus .bouton span {
  color: var(--brown-regular);
  transition: 0.2s ease-in-out;
}
.contact-expertise-plus .bouton:before {
  background-color: var(--orange);
}
.contact-expertise-plus .bouton i {
  color: var(--orange);
}
.contact-expertise-plus .bouton:hover i, .contact-expertise-plus .bouton:hover span {
  color: white;
  transition: 0.2s ease-in-out;
}/*# sourceMappingURL=style.css.map */