.catalogue-projet {
    display: flex;
    justify-content: space-between;

    .projet-image {
        height: 25vw;
        width: 48%;
        position: relative;
        margin-bottom: 4%;

        @media (max-width: $breakpoint__large_phone) {
            height: 80vw;
            width: 80vw;    
        }
    }

    img {
        object-fit: cover;
        height: 100%;
    }
}

.photo-hover {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%; 
    background: linear-gradient(48deg, rgba(225,124,105,0.8) 0%, rgba(225,124,105,1) 30%, rgba(225,124,105,1) 70%, rgba(225,124,105,0.8) 100%);    // background-image: radial-gradient( circle farthest-corner at 48.4% 47.5%,  rgba(225, 124, 105,1) 50%, rgba(225, 124, 105,0.8) 90% );
    // background-image: linear-gradient( 109.6deg,  rgba(225, 124, 105,1) 50.5%, rgba(183, 82, 77,0.8) 100.2% );
    display: flex; 
    padding: 15px; 
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;

    .hover-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    .hover-arrow {
        position: relative; 
        display: flex;
        justify-content: center;
        z-index: 11;
    }

    .hover-text {
        color: white;
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        align-items: center;

        h4, p {
            text-transform: uppercase;
        }

        h4 {
            font-size: 20px;
            color: white;
        }

        p {
            color: white;
            text-align: center;
        }

        .hover-category {
            font-family: 'space_mono', sans-serif;
        }
    }

    i {
        color: white;
        font-size: 20px;
    }
}

.photo-hover:hover {
    opacity: 1;
}


