:root {
    --peach: #e17c69;
    --red1: #AE312D;
    --red2: #b7524d;
    --orange: #E19754;
    --brown-dark: #644C3E;
    --brown-regular: #92705C;
    --beige: #DDCBBC;
    --beige2: #f3f0ec;
}

// BREAKPOINT MEDIA QUERY

$breakpoint__large_phone: 767px;
$breakpoint__tab: 1024px;

* {
    font-family: 'Platypi', serif;
    font-weight: 400;
    color: var(--brown-dark);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;


    .main-container {
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        overflow: hidden;        
    }
}

section {
    padding: 0 15%;
}


h1 {
    font-size: 45px;
    margin: 20px 0;
}

h2 {
    font-size: 45px; 
    font-weight: normal;
}

h3 {
    font-size: 20px ;
}

h4 {
    font-size: 14px ;
    font-weight: normal;
}

p {
    font-size: 15px ;
    font-family: "Work Sans", sans-serif;
}

.content {
    margin-top: 80px;
}

img {
    border: none!important;
}



// MISE EN FORME BOUTONS

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-size: 15px;
}

.btn-titre {
    font-size: 40px;
}

.bouton {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 6px 10px 8px 10px;
    border-bottom: 2px solid var(--red2);
    cursor: pointer;

    span, i {
        z-index: 2;
        color: white;
        font-size: 19px;
    }

    i {
        color: var(--red2);
        transition: 0.2s 0.1s ease-in-out;
    }
  
    &:before {
      content: "";
      background-color: var(--red2);
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      transition: 0.3s ease-in-out;
      z-index: 1;
    }
  
    &:hover {
        i {
            color: white;
            transition: 0.2s ease-in-out;
            animation: bounce2 0.5s ease-in-out;
        }

        &:before {
        width: 100%;
        }
    }
  }

  // ANIMATION FLECHE BOUTON

@keyframes bounce2 {
	0%, 100%, 50%, 80% {
		transform: translateX(0)
	}
	40% {
		transform: translateX(-8px)
	}
	60% {
		transform: translateX(-3px)
	}
}

.arrow:hover {
    animation: bounce2 0.5s ease-in-out;
}


// MEDIA QUERIES 

@media (max-width: $breakpoint__tab) {
    
    section {
        padding: 0 10%;
    }
    
    h1, h2 {
        font-size: 35px; 
    }
    
    h3 {
        font-size: 15px ;
    }
    
    h4 {
        font-size: 12px ;
    }

    .btn-titre {
        font-size: 30px;
    }

  }

@media (max-width: $breakpoint__large_phone) {
    
    h1 , h2 {
        font-size:30px;
    }

    h3 {
        font-size: 14px ;
    }

    p {
        font-size: 14px ;
    }

    .btn-titre {
        font-size: 25px;
    }
}


