:root {
    --peach: #E17C69;
    --red1: #AE312D;
    --red2: #B7524D;
    --orange: #E19754;
    --brown-dark: #644C3E;
    --brown-regular: #92705C;
    --beige: #DDCBBC;
    --beige2: #EAE1D7;
}

// BREAKPOINT MEDIA QUERY

$breakpoint__large_phone: 700px;
$breakpoint__tab: 1115px;

* {
    font-family: 'Platypi', serif;
    font-weight: 400;
    color: var(--brown-dark);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;


    .main-container {
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        overflow: hidden;        
    }
}

section {
    padding: 0 15%;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    &:hover {
        font-weight: bold;
    }
  }

h1 {
    font-size: 50px;
    margin: 65px 0;
}

h2 {
    font-size: calc(2vw + 10px); 
    font-weight: normal;
}

h3 {
    font-size: 20px ;
}

h4 {
    font-size: 14px ;
    font-weight: normal;
}

p {
    font-size: 14px ;
    font-family: "Work Sans", sans-serif;
}


.btn-submit {
    border-radius: 2px;
    background-color: var(--medium-grey);
    color: black;
    height: 50px;
    font-size: 12px;
    font-family: 'space_mono', sans-serif;
    font-weight: normal;
    transition: background-color 0.6s, color 0.6s, font-weight 0.6s ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: black;
        color: white;
        font-weight: bold;
    }
}

.content {
    margin-top: 80px;
}
  