.titre-principal {
    font-size: 30px;
    color: var(--peach);
    margin: 110px 10% 20px 10%;
    text-align: center;
}

.filtre-expertise {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px 15px;
    margin-bottom: 5%;

    p {
        color: var(--brown-dark);
        background-color: #EFE1D5;
        padding: 3px 15px;
        transition: background-color 0.3s ease-in-out;
        text-align: center;
        margin: 0;

        &:hover {
            cursor: pointer;
            background-color: var(--beige);
            transition: background-color 0.3s ease-in-out;

        }
    }

    .selected {
        p {
            background-color: var(--red1);
            color: white;
            transition: background-color 0.3s ease-in-out;
        }
    }
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4%;

    @media (max-width: $breakpoint__large_phone) {
        flex-direction: column;
        align-items: center;
    }

    .projet {
        margin-bottom: 4%;
    }
}
    

// STYLE PAGE PORTFOLIO TAXONOMIES

.portfolio-taxonomie {

    h1 {
        margin-bottom: 7%;
        text-align: center;

        strong {
            color: white;
            background-color: var(--red2);
            padding: 5px 15px;
            text-transform: uppercase;
            font-family: "Work Sans", sans-serif;
            font-weight: 300;
            line-height: 2;

            @media (max-width: $breakpoint__large_phone) {
               font-size: 20px;
            }
        }
    }

    .contact {
        padding: 50px 20%;
        margin-top: 0;
    }
}
