.bloc-expertise {
    background-color: var(--beige2);
    padding: 50px 15% 60px 15%;


    h2 {
        text-align: center;
        padding-bottom: 50px;
    }

    .liste-expertise {
        display: flex;

        .service-unique {

            display: flex;
            padding: 20px 30px;
            width: 25%;
            flex-direction: column;
            align-items: center;
            text-align: center;

            h4 {
                font-size: 20px;
            }

            p {
                display: none;
            }

            img {
                width: 50px;
                transition: width 0.2s ease-in-out;
            }

            &:hover {
                p {
                    display: block;
                }

                h4 {
                    font-size: 25px;
                    transition: font-size 0.2s ease-in-out;
                }

                img {
                    width: 60px;
                    transition: width 0.2s ease-in-out;
                }
            }
        }       
    }

    &-plus {
        display: flex;
        justify-content: center;
        margin-top: 3%;

        .bouton {
            border-bottom: 2px solid var(--red2);
        
            span {
                color: var(--brown-dark);
                transition: 0.3s  ease-in-out;
            }

            i {
                color: var(--red2);
            }        
        
            &:hover {
                i, span {
                    color: white;
                    transition: 0.2s ease-in-out;
                }
            }
        }
    }
}

    